@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@plugin "daisyui";
@import "tailwindcss";



.rancho-regular {
  font-family: "Rancho", cursive;
  font-weight: 400;
  font-style: normal;
}


.loading {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  height: 100vh;
}